<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('send_css', filename='sticky.css') }}"></link>
	<title>Survey</title>
</head>
<body style="overflow-x: hidden; overflow-y: hidden;">
	<div id="page-wrap">

		<h1 class="text-center">SURVEY</h1>

		<form id="quiz">

			<div class="form-group">
				<ol id="orderedList"></ol>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-success" style="cursor: pointer;">Submit</button>
			</div>

		</form>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('send_js', filename='script.js') }}"></script>
</body>
</html>
