#chat_box{
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 350px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    z-index: 9999;
}
#chat_box_head , #chat_box_body{
    width: 350px;
    cursor: pointer;
}
#chat_box_head{
    background-color: #c00;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
#chat_box_body{
    height: 0;
}
.height{
    height: 300px!important;
}
iframe {
    height:290px;
    border: 0;
}
.chat_div_class {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
